@font-face {
  font-family: 'HelveticaNeue Light';
  src: url('../fonts/HelveticaNeue Light.ttf');
}
html{height:100%;}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#f8f8f8;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height:100%;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Top navigation*/
.navbar-inverse{background-color:#237e17;border-color:#237e17;}
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav > li > a
{color:white;}

/* Message */
.message-container {
    font-size: 14px;
    padding: 0.5em 1em;
    border: 1px solid #b0b0b0;
    border-radius: 8px;
    margin: 0.5em 0;
}

    .message-container p {
        margin: 0.25em 0;
    }

/*Schools and sections */
.displayname{text-align:right;padding:12px 30px 12px 12px;}
.secondnav{padding:20px 0 12px 0;}
.a-heading{font-size:48px;color:#666565;padding-left: 0;text-transform:uppercase;}
.infocontainer {
    text-align: center;
    border: 1px solid #c2c2c2;
    width: 160px;
    min-height: 60px;
    background-image: url('/Images/contaerbg.gif');
    float: right;
    margin-right: 15px;
     color:#666565;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    -moz-border-radius : 5px; 
}
.infocontainer .infoheader{font-size:12px;font-weight:bold;text-align:center;height:25px;line-height:25px; text-transform:uppercase;}
.infocontainer .infobody{font-size:18px;text-align:center;height:35px;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.myschool{     padding: 12px 0 12px 0;float:left;}
.myschool .schoolenrolled{float:right; font-size:14px;padding-right:15px;}
.myschool .greenicon{width:12px;height:12px;background-color:#1fe405;float:right;margin:5px 6px 0 0;}
.sectionschoolname{font-size:24px;color:#666565;padding-left: 0;}
.mysection{text-align:right;padding-top: 10px;width:100%;}
.tophero{background-color:#f8f8f8;padding-left:0px;}
#myMap{position:absolute;}
.bingMapLink{margin-left:12px;}
.schooladdress{width:auto;float:left;}
.schoolmap{width:50%;float:left;}
.toptiles{
    padding: 10px 0 15px 0;
    border: 1px solid #237e17;
    border-top: none;
    background-color: white;
    border-radius:5px;
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.schoolname{margin-top:20px;}
.schooltiles{margin:20px 0 20px 0;    padding-right: 0;}
.schooltiles .infocontainer{margin-right:0;}

.table-green { border:none;background-color:white;opacity:0.9;}
.table-green tr:nth-child(2n+1){background-color:#f8f8f8}
.table-green tr:nth-child(1){background:#237e17;color:white;}
.table-green> tbody > tr > th{ border:none; padding:20px 0 20px 6px;}
.table-green .table-green-header{ background:#237e17;color:white; border-bottom: 1px solid #237e17}
.table-green .table-green-header th{text-transform:uppercase;}
.table-green .tdleft{border-collapse:inherit;   }
.table-green .table-green-header th{padding:20px 0 20px 6px ;border-top:0; border-bottom: 1px solid #237e17}
.table-green .tr-content td{padding-top:20px;padding-bottom:20px;}
.table-green > tbody > tr > td{border-top:none;}
.table-schools th, .table-schools .tr-content td {
    width: 20%;
}
.table-green .td-green{ background-color: #1fe405;}
.table-green .tr-content >td:nth-child(1), .table-green-header th:nth-child(1) {width:2px;padding:0 5px;}
.table-schools th:nth-child(5),.table-schools .tr-content td:nth-child(5) {
    width: 40%;
}
.table-studnet tr td:nth-child(1),.table-studnet tr th:nth-child(1){width:30%;padding:20px 8px !important;}

.ignore{display:none;}
.container>div.row{height:100%;background-color:#fff;}
.container.body-content{height:100%; background-color:#fff;}
.schools{height:100%;background-color:#fff;padding:0;}
.schools .toptiles{float:right;padding-left: 15px;}
.hr-green{border: 0;height: 10px;background: #127604;margin-top: 10px;}
/*sections*/
.section-tiles{padding-left:15px;}
.section-tiles .tile-container{margin-right: 18px;float: left;margin-bottom: 5px;margin-top: 12px;position:relative;}
.section-tiles .tile-container:nth-child(6n){margin-right:0;}
.section-tiles .tile{display:inline-block;width:170px;height:170px;border:1px solid #C2C2C2;border-radius:5px;-moz-border-radius:5px;background: -prefix-linear-zgradient(top, #434345, #BBBBBB); background: linear-gradient(to bottom, #434345, #BBBBBB); color:#fff;}
.mysectionlink .tile{border:1px solid #C2C2C2;border-radius:5px;-moz-border-radius:5px;background: -prefix-linear-zgradient(top, #4E9F42, #B8E2B2); background: linear-gradient(to bottom, #4E9F42, #B8E2B2); }
.section-tiles .tile>h5{text-align: center;margin: 60px 5px 0 5px;font-size:14px;font-style: normal;font-variant: normal;}
.section-tiles .tile>h2{text-align: center;margin-top:4px;font-size:30px;}
.section-tiles .tile:hover{background-image:url('/Images/ClassDetailsTiles-bg.jpg');color:#000;}
.section-tiles .tile:hover>h5{font-weight:bold;font-size:16px;}
.section-tiles .tile:hover>h2{font-weight:bold;font-size:36px;}
.section-tiles .detail {display:none;position:absolute; background:#fff; color:#000;top:-5px; left:188px;width:360px; min-height:230px;padding:8px 20px 30px 20px;z-index:10;border:solid #C2C2C2 1px;border-radius:5px;-moz-border-radius:5px;-moz-box-shadow:1px 2px 1px 2px #c2c2c2;-webkit-box-shadow: 1px 2px 1px 2px #c2c2c2;box-shadow:1px 2px 1px 2px #c2c2c2;}
.section-tiles .tile-container:nth-child(6n) .detail,.section-tiles .tile-container:nth-child(6n-1) .detail{left:-380px;}
.section-tiles .detail>h5{margin-top: 10px;font-weight: 800;font-size:12px;text-transform:uppercase;}
.section-tiles .detail>h6{margin-top: 10px;font-size:12px;}
.section-school-name{width:100%;    padding: 0 20px 10px 0;    text-align: right;}

/*section detail*/
.b-title{font-size:24px;color:#666565;}
.coursedetail .col-md-6{padding:12px 0 6px 0;}
.coursedetail .col-md-6:last-child{padding:12px 0 6px 0;}
.coursedetail .col-md-6:last-child > b{color:#F7F7F7;}
.coursedetail .col-md-6:last-child > b:first-child{color:#333;}
.students .col-md-6:nth-child(1){padding-left:0;padding-right:8px;}
.students .col-md-6:nth-child(2){padding-left:8px;padding-right:0;}
.students .b-title{padding-left:6px;}

.section-link-container .current,
.section-link-container .current:hover {
    color: black;
    cursor: none;
}

.students{margin-top:20px;}
.students > ul > li{width:31%;margin-right:20px;text-align: center;}
.students > ul > li:first-child{margin-left:20px;}
.students > ul > li>a{color:#ABABAB;height:56px;font-size:18px;text-transform:uppercase;background-color:#fff;border-radius:0 0 0 0;font-weight:400;padding-top:15px;}
.students > ul > li.active > a,.students > ul > li.active > a:hover,.students > ul > li.active > a:focus {background-color:#ABABAB;color:#fff;font-weight:700;}
.students .table-green .table-green-header{border-bottom:1px solid #ABABAB}
.students .table-green .table-green-header th {background-color:#ABABAB;border-bottom:1px solid #ABABAB}
.students .table-green tr:nth-child(1){background-color:#ABABAB;}
.students .table-green .tdleft{border-left-color:#ABABAB;}

.students .see-more{margin-left:12px;}

/*User info popup window*/
.navbar-right a{color:white;text-decoration:none;}
.userinfo .caret{color:white;font-size:20px;    }
.transformcaret{transform: rotate(180deg);}
.userinfo{height:50px;line-height:50px;}
.popupcontainer{display:none;}
.navbar-collapse{position:relative;}
.popuserinfo{position:absolute;top:40px;z-index:999;background-color:white;padding:15px 0;
             width:200px;border:1px solid #dedede;box-sizing: border-box;left:955px;}
@-moz-document url-prefix() 
{   
.popuserinfo{left:955px;}
}
.subitem{float:left;width:100%;}
.subitem a{color:black;text-decoration:none;width:100%;height:100%;display:block;padding:10px 0 10px 20px;}
.subitem:hover{background-color:#237e17;color:white;}
.subitem a:hover{color:white;}
.container {width: 1170px;}

.mygroups b{float:left;}
.mygroups div{float:left;margin-left:6px;}
.margin-btm-12{margin-bottom:12px;}
.margin-top-12{margin-top:12px;}
