@font-face {
  font-family: 'HelveticaNeue Light';
  src: url('../fonts/HelveticaNeue Light.ttf');
}

@font-face {
  font-family: 'Helvetica Neue LT Std Roman';
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaNeueLTStd-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTStd-Roman.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Helvetica Neue LT Std Bold';
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaNeueLTStd-Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTStd-Bd.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html{height:100%;}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, white, #9e9e9e);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100%;
    font-family: "HelveticaNeue Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height:100%;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.empty-result {
    color: gray;
    font-style: italic;
}

/*Top navigation*/
.navbar-inverse{background-color:#237e17;border-color:#237e17;}
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav > li > a
{color:white;}

/* Message */
.message-container {
    font-size: 14px;
    padding: 0.5em 1em;
    border: 1px solid #b0b0b0;
    border-radius: 8px;
    margin: 0.5em 0;
}

    .message-container p {
        margin: 0.25em 0;
    }

/*Schools and sections */
.displayname{text-align:right;padding:12px 30px 12px 12px;}
.secondnav{padding:20px 0 12px 0;}
.a-heading{font-size:48px;color:#666565;padding-left: 0;text-transform:uppercase;}
.infocontainer {
    text-align: center;
    border: 1px solid #c2c2c2;
    width: 160px;
    min-height: 60px;
    background-image: url('/Images/contaerbg.gif');
    float: right;
    margin-right: 15px;
     color:#666565;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    -moz-border-radius : 5px; 
}
.infocontainer .infoheader{font-size:12px;font-weight:bold;text-align:center;height:25px;line-height:25px; text-transform:uppercase;}
.infocontainer .infobody{font-size:18px;text-align:center;height:35px;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.myschool{     padding: 12px 0 12px 0;float:left;}
.myschool .schoolenrolled{float:right; font-size:14px;padding-right:15px;}
.myschool .greenicon{width:12px;height:12px;float:right;margin:5px 6px 0 0;background-color:#277F79;}
.sectionschoolname{font-size:24px;color:#666565;padding-left: 0;}
.mysection{text-align:right;padding-top: 10px;width:100%;}
.tophero{background-color:#f8f8f8;padding-left:0px;}
#myMap{position:absolute;}
.bingMapLink{margin-left:12px;}
.schooladdress{width:auto;float:left;}
.schoolmap{float:left;}
.toptiles{
    padding: 10px 0 15px 0;
    border: 1px solid #237e17;
    border-top: none;
    background-color: white;
    border-radius:5px;
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.schoolname{margin-top:20px;}
.schooltiles{margin:20px 0 20px 0;    padding-right: 0;}
.schooltiles .infocontainer{margin-right:0;}

.table-green { border:none;background-color:white}
.table-green tr.tr-content:nth-child(2n+1){background-color:#f8f8f8}
.table-green> tbody > tr > th{ border:none; padding:20px 0 20px 6px;}
.table-green .table-green-header{ background:#127605;color:white; }
.table-green .tdleft{border-collapse:inherit;   }
.table-green .table-green-header th{text-transform:uppercase;padding:10px 0 10px 6px ;border-top:0; border-bottom: 1px solid white;}
.table-green .tr-content td{padding-top:10px;padding-bottom:10px;    vertical-align: inherit;    border-bottom: 1px solid white;}
.table-green > tbody > tr > td{border-top:1px solid white;}
.table-green .td-green, .table-green .td-green a{ background-color: #277F79; color:white;}
.table-green  a.btnlink{
    color:black;text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-image: url(/Images/btngreenbg.png);
    padding: 3px 12px;
    border: 1px solid #127604;
    text-decoration:none;
}
.table-green .td-green a.btnlink{background-color:white !important; background-image:none;color:black;text-transform:uppercase;font-weight:bold;}
.table-studnet .tr-content td img{max-width:40px;height:auto;margin-right:6px;}
.table-studnet .tr-content td:nth-child(1){width:25%;}
.schools .table-schools tr td:nth-child(1){width:20%;}
.schools .table-schools tr td:nth-child(2){width:15%;}
.schools .table-schools tr td:nth-child(3){width:8%;}
.schools .table-schools tr td:nth-child(4){width:27%;}
.schools .table-schools tr td:nth-child(5){width:30%;}

.ignore{display:none;}
.container>div.row{height:100%;background-color:#fff;}
.container.body-content{height:100%; background-color:#fff;}
.schools{height:100%;background-color:#fff;padding:0;}
.schools .toptiles{float:right;padding-left: 15px;}
.hr-green{border: 0;height: 10px;margin-top: 10px;}
/*sections*/
.section-tiles{padding-left:15px; background-color:white;}
.section-tiles .tile-container{margin-right: 18px;float: left;margin-bottom: 5px;margin-top: 12px;position:relative;}
.section-tiles .tile-container:nth-child(6n){margin-right:0;}
.section-tiles .tile{display:inline-block;width:170px;height:170px;border:1px solid #C2C2C2;border-radius:5px;-moz-border-radius:5px;background: -prefix-linear-zgradient(top, #434345, #BBBBBB); background: linear-gradient(to bottom, #434345, #BBBBBB); color:#fff;}
.mysectionlink .tile{border:1px solid #C2C2C2;border-radius:5px;-moz-border-radius:5px;background: -prefix-linear-zgradient(top, #4E9F42, #B8E2B2); background: linear-gradient(to bottom, #4E9F42, #B8E2B2); }
.section-tiles .tile>h5{text-align: center;margin: 60px 5px 0 5px;font-size:14px;font-style: normal;font-variant: normal;}
.section-tiles .tile>h2{text-align: center;margin-top:4px;font-size:30px;}
.section-tiles .tile:hover{background-image:url('/Images/ClassDetailsTiles-bg.jpg');color:#000;border:2px solid green;}
.section-tiles .tile:hover>h5{font-weight:bold;font-size:16px;}
.section-tiles .tile:hover>h2{font-weight:bold;font-size:36px;}
.section-tiles .detail {display:none;position:absolute; background:#fff; color:#000;top:-5px; left:188px;width:360px; min-height:230px;padding:8px 20px 30px 20px;z-index:10;border:solid #C2C2C2 1px;border-radius:5px;-moz-border-radius:5px;-moz-box-shadow:1px 2px 1px 2px #c2c2c2;-webkit-box-shadow: 1px 2px 1px 2px #c2c2c2;box-shadow:1px 2px 1px 2px #c2c2c2;}
.section-tiles .tile-container:nth-child(6n) .detail,.section-tiles .tile-container:nth-child(6n-1) .detail{left:-380px;}
.section-tiles .detail>h5{margin-top: 10px;font-weight: 800;font-size:12px;text-transform:uppercase;}
.section-tiles .detail>h6{margin-top: 10px;font-size:12px;}
.section-school-name{width:100%;    padding: 0 20px 10px 0;    text-align: right;}

/*section detail*/
.b-title{font-size:24px;color:#666565;}
.coursedetail .col-md-6{padding:12px 0 6px 0;}
.coursedetail .col-md-6:last-child{padding:12px 0 6px 0;}
.coursedetail .col-md-6:last-child > b{color:#F7F7F7;}
.coursedetail .col-md-6:last-child > b:first-child{color:#333;}
.students .col-md-6:nth-child(1){padding-left:0;padding-right:8px;}
.students .col-md-6:nth-child(2){padding-left:8px;padding-right:0;}
.students .b-title{padding-left:6px;}

.section-link-container .current,
.section-link-container .current:hover {
    color: black;
    cursor: none;
}

.students{margin-top:20px;}
.students > ul > li{width:22%;margin-right:20px;text-align: center;}
.students > ul > li:first-child{margin-left:20px;}
.students > ul > li>a{color:#ABABAB;height:56px;font-size:18px;text-transform:uppercase;background-color:#fff;border-radius:0 0 0 0;font-weight:400;padding-top:15px;}
.students > ul > li.active > a,.students > ul > li.active > a:hover,.students > ul > li.active > a:focus {background-color:#127605;color:white;font-weight:700;}
.students .table-green .table-green-header{border-bottom:1px solid #127605;background-color:#127605;}
.students .table-green .table-green-header th {background-color:#127605;border-bottom:1px solid #127605}
.students .table-green .tdleft{border-left-color:#ABABAB;}
.students .see-more{margin-left:12px;}
.students  ul  li.active a span{border-bottom:3px solid white; padding-bottom: 6px;}
.students #students.active{border:none}

/*User info popup window*/
.navbar-right a{color:white;text-decoration:none;}
.userinfo .caret{color:white;font-size:20px;    }
.transformcaret{transform: rotate(180deg);}
.userinfo{height:50px;line-height:50px;}
.popupcontainer{display:none;}
.navbar-collapse{position:relative;}
.popuserinfo{position:absolute;top:40px;z-index:999;background-color:white;padding:15px 0;
             width:200px;border:1px solid #dedede;box-sizing: border-box;left:955px;}
@-moz-document url-prefix() 
{   
.popuserinfo{left:955px;}
}
.subitem{float:left;width:100%;}
.subitem a{color:black;text-decoration:none;width:100%;height:100%;display:block;padding:10px 0 10px 20px;}
.subitem:hover{background-color:#237e17;color:white;}
.subitem a:hover{color:white;}
.container {width: 1170px;}

.mygroups b{float:left;}
.mygroups div{float:left;margin-left:6px;}
.margin-btm-12{margin-bottom:12px;}
.margin-top-12{margin-top:12px;}

#skipLinkAccount{width:90px;}
.tab-content div.tab-pane{border:2px solid #127605;background-color:white;position:relative;}
#seatingchart{padding:24px 12px;}
#seatingchart .left{width:25%;float:left;}
#seatingchart .right{width:65%;float:left;border-left:2px solid #666565;}
#seatingchart .dvedit{width:10%;float:right;}
#seatingchart .dvedit img{margin-top:12px;}
#seatingchart ul li{list-style-type:none; margin-bottom:6px;}
#seatingchart .greenicon{width:14px;height:14px;background:#237e17;float:left;margin:3px 6px 0 0;}
.assignseat{margin:12px 0;}
#lstproducts{padding-left:0;}
#lstproducts img, .deskicon img, #studentsTable img{
border-radius: 30px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border: 1px solid #e4e4e4;
max-width: 50px;
height: auto;
}
#lstproducts li{width:100%;min-height:60px;}
#lstproducts li *{float:left;}
#lstproducts li .disname{
max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    float: left;
    margin:16px 6px 0 12px;
}
#lstproducts li .seated {margin:16px 0 0 0;}

#dvleft .tip{font-weight:600;margin-bottom:20px;}

.deskcontainer{width:100px;height:100px ; background-color:#f2f2f2;color:black; position:relative;   padding-top: 6px;}
.deskicon{padding-top:6px;text-align:center;}
.stuname{padding: 6px ;text-align:center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;}
.deskicon img{max-height:60px;width:auto;}
.deskclose{ width:20px;height:20px;float:right;position:absolute;right: -9px;
top: -10px;cursor:pointer;}
.hideitem{display:none;}
.showitem{display:block;}
#graybg{width:660px;margin:auto;}
.desktile{color:white; width:100px;height:100px;float:left;margin-right:10px;margin-bottom:10px; 
          background:url('/Images/seat.png') no-repeat center center; 
}
.desktileseated{background-color:#CECECE;}
.deskcontainer.green{background-color:#5DCB50;color:white;border-color:#2B4E26;}
.seated{color:#237e17;text-transform:uppercase;font-weight:bold;}

.teacherdesk{color:white;width:200px;margin:auto;border:1px solid gray;
             background-color:#ABABAB;text-transform:uppercase;margin-bottom:20px;height:60px;line-height:60px;text-align:center;}
.deskclose, #imgsave, #imgcancel{display:none;}
.greenlist{background-color: #287F79;}
.greenlist *{color:white;}
.greenTileTooltip{background-color: #287F79;color:white;text-align:center;height:98px;width:98px;text-transform:uppercase;padding-top:20px;}
#saveResult{position: absolute;
    width: 220px;
    margin: auto;
    z-index: 999;
    height: 65px;
    line-height:60px;
    text-align:center;
    left: 990px;
    top: 45px;
    right: 0;
    text-align:center;
    font-size:15px;
    box-shadow: 0 0 5px #000;
    background-color: #4B67F7;
    color: white;
    border: 1px solid white;
}



/*Teachers & Students page*/
.teacher-student .mysection{width:48%;float:right;}
.teacher-student .tophero{border-bottom:5px solid #127604;}
.teacher-student .usericon{margin-top:10px;}
.teacher-student .usericon div{float:left;}
.teacher-student .usericon .stuicon{width: 12px;    height: 12px; margin: 5px 6px 0 0;background-color: #444444;}
.teacher-student .usericon .teacicon{width: 12px;    height: 12px; margin: 5px 6px 0 12px;background-color: #4DA143;}
.teacher-student .user-container{background-color:white;padding:12px 0;}
.teacher-student .user-container .element{margin:12px; float:left;width:170px;height:170px;border-radius:12px;background-color:gray;}
.teacher-student .user-container .element .userimg{height:100px;text-align:center;position:relative;}
.teacher-student .user-container .element .username{height:70px;color:white; text-align:center;padding-top:12px;}
.teacher-student .user-container .element img{
    border-radius: 60px;
-webkit-border-radius: 60px;
-moz-border-radius: 60px;
border: 1px solid #e4e4e4;
 max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 12px;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.teacher-student .user-container .stubg{background-color:#444444}
.teacher-student .user-container .teacbg{background-color:#4DA143;}
.teacher-student .pagination{width:100%;text-align:center;}
.teacher-student .pagination a{font-family:'Helvetica Neue LT Std Bold'; color:#444344; margin:0 10px;color:#474747;text-decoration:none;}
.teacher-student .pagination a:not([href='#']){background-color:#f4f4f4; padding:6px 10px; margin:2px;}
.teacher-student .pagination a.disabled{ color:#c2c2c2 !important; background-color:transparent; }

.teacher-student .pagination .current{background-color:#444444; color:white; padding:6px 10px; margin:2px;}
.teacher-student .filterlink{text-decoration:none;color:#6F83F8;cursor:pointer;}
.teacher-student .filterlink.selected{text-decoration:none;color:black;cursor:default;font-weight:bold;}


/* Demo Helper Control */
.demo-helper-control {
    position: absolute;
    right: 0;
    top: 72px;
    font-size: 11px;
}
.demo-helper-control p {
    margin: 0;
}

.demo-helper-control .header {
    float: left;
    width: 65px;
    height: 77px;
    background: url(Images/demo-helper-header-expanded.png) 15px 9px no-repeat white;      
    padding: 47px 4px 4px 4px;
    text-align: center;    
    font-family: 'Helvetica Neue LT Std Bold';
    font-weight: 700;
    line-height: 1.1em;
    cursor: pointer;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
.demo-helper-control.collapsed .header {
    background: url(Images/demo-helper-header-collapsed.png) 15px 9px no-repeat white;
} 

.demo-helper-control .header-right-shadow-mask {        
    float: left;
    width: 12px;
    height: 89px;
    background-color:white;
}
.demo-helper-control.collapsed .header-right-shadow-mask{
    width: 0px;
}

.demo-helper-control .body {
    display: block;
    min-height: 95px;
    padding: 7px 7px 0px 7px;
    margin-left: 65px;
    font-size: 12px;
    background-color: white;
    -webkit-border-radius: 0px 0px 0px 5px;
    -moz-border-radius: 0px 0px 0px 5px;
    border-radius: 0px 0px 0px 5px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
.demo-helper-control.collapsed .body {
    display: none;
}

.demo-helper-control .body .desc {
    font-family: 'Helvetica Neue LT Std Roman';
}

.demo-helper-control .body ul {
    list-style-image: url(Images/black-square.png);
    padding:2px 2px 2px 24px;
    margin-bottom: 0px
}
.demo-helper-control .body ul li {
    margin: 4px 0 6px 0;
}
.demo-helper-control .body ul li a{
    font-family: 'Helvetica Neue LT Std Roman';
    color: #3366ff;
}
.demo-helper-control .body ul li a:hover {
    text-decoration: none;
}
.demo-helper-control .body ul li .title {
    font-family: 'Helvetica Neue LT Std Bold';
}

.demo-helper-control .body .empty-result {
    margin: 1.5em 0;
    text-align: center;
}

.nodata{width:100%;text-align:center;padding-top:20px; background-color:white;}
.saveresult{margin-left:6px;color:green;}
.tablesorter .header{background-image:url('/images/arrow-all.png');background-repeat:no-repeat;background-position-y:center;background-size:10px;}
.tablesorter .headerSortDown{background-image:url('/images/arrow-up.png');background-repeat:no-repeat;background-position-y:center;background-size:10px;}
.tablesorter .headerSortUp{background-image:url('/images/arrow-down.png');background-repeat:no-repeat;background-position-y:center;background-size:10px;}
.tablesorter .header:nth-child(1){background-position-x:125px;}
.tablesorter .header:nth-child(2){background-position-x:64px;}
